
#what-we-do {
    > .container {
        > h3 {
            font-family: Spectral;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 36px;
            text-align: center;
            color: #000000;
        }

        > .service-box{
            > img {
                width: 5vw;
                
            }
        }

    }


}