header {
    height: 100vh;
    width: 100vw; // margin: 0;
    background-image: url("../image/Hero\ section/macantosh.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .heading-span1 {
        .punchline {
            @include bold;
            font-family: $headers-and-stress;
            text-transform: uppercase;
            color: $black;
            @include for-size(phone-only) {
                font-size: 3rem;
            }
            @include for-size(tablet-portrait-up ) {
                font-size: 4rem;
            }
            @include for-size(tablet-landscape-up) {
                font-size: 4.5rem;
            }
            @include for-size(desktop-up) {
                font-size: 4.8rem;
            }
            @include for-size(big-desktop-up) {
                font-size: 6rem;
            }
        }
    }
    .heading-span2 {
        font-family: $bodys-and-content;
        padding: 2% 18%;
        span {
            @include light;
            color: $black;
            text-align: center;
            letter-spacing: .05rem;
            @include for-size(phone-only) {
                font-size: 0.81rem;
            }
            @include for-size(tablet-portrait-up ) {
                font-size: 1.084rem;
            }
            @include for-size(tablet-landscape-up) {
                font-size: 1.22rem;
            }
            @include for-size(desktop-up) {
                font-size: 1.3rem;
            }
            @include for-size(big-desktop-up) {
                font-size: 1.6rem;
            }
            
        }
    }
}
