section#our-work {
    background-color: $white;
    color: $black; // height: 80vh;
    .container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h3 {
			text-align: center;
		}
		div {
			.our-work-btn {
				display: flex;
				flex-direction: row;
				justify-content: center;
				text-align: center;
				margin-bottom: 2%;
				div {
	
					font-family: Open Sans;
					font-style: normal;
					font-size: 1rem;
					font-weight: 300;
					line-height: normal;
					text-align: center;
					padding: 0 2%;
					hr {
						width: 6vw;
						border-color: #0E387C;
						border-width: 5px;
						margin-top: 0.5rem;
					}
				}
			}
	
			.banner-box {
				// overlay settings
				width: 80vw;
				max-width: 1055px;
				height: 75vh;
				max-height: 523px;
				display:block;
				position:relative;
	
				.project-banner {
					width: 100%;
					height: 100%;
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
				}
		
				.project-banner-mobile {
					display: none;
				}
	
				.project-desc-web {
					// overlay settings
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 10;
					padding-left: 7%;
	
					display: flex;
					flex-direction: column;
					justify-content: center;
	
					h4 {
						font-size: 3rem;
						font-weight: 500;
						line-height: normal;
					}
					p {
						font-size: 1rem;
						max-width: 25vw;
						line-height: normal;
						font-size: 10px;
						letter-spacing: 0.05em;
						margin-bottom: 0;
					}
					.project-links {
						img {
							width: 1.5vw;
							margin-right: 1%;
						}
						.app-store-icon {
							width: 0;
						}
						.play-store-icon {
							width: 0;
						}
					}
				}
			}
			.hide-banner {
				display: none;
			}
		}
	}    
}

@media (max-width: 1023px) {
	section#our-work{
		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			h3 {
				text-align: center;
			}
			div {
				.our-work-btn {
					display: flex;
					flex-direction: row;
					justify-content: center;
					text-align: center;
					margin-bottom: 2%;
					div {
		
						font-family: Open Sans;
						font-style: normal;
						font-size: 1rem;
						font-weight: 300;
						line-height: normal;
						text-align: center;
						padding: 0 2%;
						hr {
							width: 6vw;
							border-color: #0E387C;
							border-width: 5px;
							margin-top: 0.5rem;
						}
					}
				}
		
				.banner-box {
					// overlay settings
					width: 80vw;
					max-width: 1055px;
					height: 75vh;
					max-height: calc(523px + 300px);
					display:block;
					position:relative;
		
					.project-banner {
						display: none;
					}
			
					.project-banner-mobile {
						display: block;
						width: 100%;
						height: 100%;
						max-height: 50vh;
						background-position: center;
						background-size: cover;
						background-repeat: no-repeat;
					}
		
					.project-desc-web {
						// overlay settings
						width: 100%;
						height: auto;
						position: relative;
						top: 0;
						left: 0;
						z-index: auto;
						padding-left: 5%;
		
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						flex-wrap: wrap;
		
						h4 {
							font-size: 3rem;
							font-family: Spectral;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
							width: 100%;
							margin-top: 2%;
						}
						p {
							width: 40%;
							max-width: 25vw;
							font-family: Open Sans;
							font-size: 1rem;
							font-style: normal;
							font-weight: 300;
							letter-spacing: 0.05em;
							line-height: normal;
							color: #172A4E;
							margin-bottom: 0;
						}
						.project-links {
							width: 60%;
							flex-direction: row;
							flex-wrap: wrap;


							img {
								width: 4vw;
								margin-right: 1%;
							}
							.app-store-icon {
								width: 12vw;
							}
							.play-store-icon {
								width: 14vw;
							}
						}
					}
				}
				.hide-banner {
					display: none;
				}
			}
		}
	}
}



.dealing-room-banner-web {
	background-image: url("../image/Our\ work/Dealing\ Room/web.jpg");
}
.dealing-room-banner-mobile {
	background-image: url("../image/Our\ work/Dealing\ Room/mobile.jpg");
}
.coin-market-news-banner-web {
	background-image: url("../image/Our\ work/Coin\ Market\ News/web.jpg");
}
.coin-market-news-banner-mobile {
	background-image: url("../image/Our\ work/Coin\ Market\ News/mobile.jpg");
}

.coin-market-news-banner-desc {
	color: #F9F9F9;
	@media (max-width: 1023px) {
		color: #555555;
	}
}
