section#our-work {
    background-color: $white;
    color: $black; // height: 80vh;
    .container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h3 {
			text-align: center;
		}
		.our-work-btn {
			display: flex;
			flex-direction: row;
			justify-content: center;
			text-align: center;
			margin-bottom: 2%;
			div {

				font-family: Open Sans;
				font-style: normal;
				font-size: 1rem;
				font-weight: 300;
				line-height: normal;
				text-align: center;
				padding: 0 2%;
				hr {
					width: 6vw;
					border-color: #0E387C;
					border-width: 5px;
					margin-top: 0.5rem;
				}
			}
		}

		.banner-box {
			width: 80vw;
			height: 75vh;

			// overlay settings
			display:block;
			position:relative;
			border: 0;

			.project-banner {
				width: 100%;
				height: 100%;
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;

				border: 0;
			}
	
			.project-desc-web {
				// overlay settings
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 10;
				padding-left: 7%;

				display: flex;
				flex-direction: column;
				justify-content: center;

				border: 0;

				h4 {
					font-size: 3rem;
					font-weight: 500;
					line-height: normal;
				}
				p {
					font-size: 1rem;
					max-width: 25vw;
					line-height: normal;
					font-size: 10px;
					letter-spacing: 0.05em;
					margin-bottom: 0;
				}
				.project-links {
					img {
						width: 1.5vw;
						margin-right: 1%;
					}
				}
			}
	
			.hide-banner {
				display: none;
			}
		}
	}    
}

@media (max-width: 1024px) {
	section#our-work {
		.container {
			div {
				.project-banner {

				}
			}
		}
	}
}

















.dealing-room-banner-web {
	background-image: url("../image/Our\ work/Dealing\ Room/web.jpg");
}
.dealing-room-banner-mobile {
	background-image: url("../image/Our\ work/Dealing\ Room/mobile.jpg");
}
.coin-market-news-banner-web {
	background-image: url("../image/Our\ work/Coin\ Market\ News/web.jpg");
}
.coin-market-news-banner-mobile {
	background-image: url("../image/Our\ work/Coin\ Market\ News/mobile.jpg");
}

.coin-market-news-banner-desc {
	color: #F9F9F9;
}