section#what-we-do {
	background-color: $grey;
	color: $black;
	.service-box {
		padding: 2.5%;
		img {
			width: 40%;
			padding: 5%;
			display: block;
			margin-left: auto;
			margin-right: auto;
			@include for-size(phone-only) {
				width: 60%;
				padding: 10%;
			}
			@include for-size(tablet-portrait-up) {
				width: 40%;
				padding: 5%;
			}
			@include for-size(tablet-landscape-up) {
				width: 40%;
				padding: 5%;
			}
			@include for-size(desktop-up) {
				width: 40%;
				padding: 5%;
			}
			@include for-size(big-desktop-up) {
				width: 40%;
				padding: 5%;
			}
		}
		h5 {
			@include bold;
			text-align: center;
			@include for-size(phone-only) {
				font-size: 1.1rem;
			}
			@include for-size(tablet-portrait-up) {
				font-size: 1.43rem;
			}
			@include for-size(tablet-landscape-up) {
				font-size: 1.65rem;
			}
			@include for-size(desktop-up) {
				font-size: 1.76rem;
			}
			@include for-size(big-desktop-up) {
				font-size: 2rem;
			}
		}
		p {
			// padding: 0 10%;
			@include light;
			letter-spacing: .05rem;
			text-align: center;
			@include for-size(phone-only) {
				font-size: .7rem;
			}
			@include for-size(tablet-portrait-up) {
				font-size: .91rem;
			}
			@include for-size(tablet-landscape-up) {
				font-size: 1.05rem;
			}
			@include for-size(desktop-up) {
				font-size: 1.12rem;
			}
			@include for-size(big-desktop-up) {
				font-size: 1.4rem;
			}
		}
	}
}