/*
  main
*/
h3 {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 5%;
}

/*
  section 1 ?
*/

.section-1-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*magic*/
}

/*
  hero
*/
#header {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgba(40, 40, 40, 0.3), rgba(40, 40, 40, 0.3)), url("../images/computer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  padding: 0 15%;
}

#header > div {
  /* font-family: Spectral; */
  /* font-style: normal; */
  /* font-weight: 500; */
  /* line-height: 31px; */
  /* font-size: 24px; */
  /* text-align: center; */
  color: #F9F9F9;
}

@media (max-width: 1023px) {
  #header {
    height: 50vh;
    font-size: 0.75rem;
    padding: 0 7%;
  }
  h1 {
    font-size: 2.75rem;
  }
  h3 {
    font-size: 2.25rem;
  }
  h5 {
    font-size: 1.75rem;
  }
  p {
    font-size: 1.25rem;
  }
}

@media (max-width: 424px) {
  #header {
    height: 30vh;
    padding: 0 3%;
  }
  #header p {
    display: none;
  }
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  p {
    font-size: 0.75rem;
  }
}



/*
  what we do
*/

.service-box {
  padding: 5% 2%;
}

.service-box > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 5%;
}

/*
  team
*/

#team {
  background-color: #493382
}

ul.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  padding: 0 20px;
  margin: 0 auto;
}

li.team-member {
  padding: 0;
  margin: 10px;
  width: 150px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.team-members a,
.team-members a:visited,
.team-members a:active {
  text-decoration: none;
  outline: none;
  margin: auto;
  border: none;
}

.team-member-icon {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background-size: cover;
}

.team-member-overlay {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 140, 21);
  opacity: 0;
  color: black;
  transition: opacity 0.6s;
}

.team-members .team-member-a:hover .team-member-overlay {
  /* display: flex; */
  opacity: 0.76;
}

.team-member-overlay p {
  margin: 0;
}

.icon-andrewc {
  background-image: url("../../images/andrewc.jpeg")
}

.icon-andrewl {
  background-image: url("../../images/andrewl.jpeg")
}

.icon-brad {
  background-image: url("../../images/brad.jpeg")
}

.icon-harrison {
  background-image: url("../../images/harrison.jpeg")
}

.icon-ivan {
  background-image: url("../../images/ivan.jpeg")
}

.icon-jacob {
  background-image: url("../../images/jacob.jpeg")
}

.icon-lucas {
  background-image: url("../../images/lucas.jpeg")
}

.icon-mangal {
  background-image: url("../../images/mangal.jpg")
}

.icon-parker {
  background-image: url("../../images/parker.jpeg")
}

.icon-stephen {
  background-image: url("../../images/stephen.jpeg")
}

li.team-member .team-member-name {
  font-size: 20px;
}

#team-member-modal.modal-show {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
  /* background-color: rgba(129, 61, 15, 0.829); */
  opacity: 0.96;
  display: flex;
    justify-content: center;
    align-items: center;
}

/*
  team modal
*/

main.modal-show {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  transition: 0.2s;
}

.modal-dialog {
  padding: 40px;
    background-color: white;
    min-width: 300px;
    border-radius: 20px;
    box-shadow: 1px 9px 34px #555;
    color: black;
    opacity: 0;
    transition: 0.6s;
}
.modal-dialog.modal-show{
  opacity: 1;
}
.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-header h3 {
  color: black;
  padding: 20px;
}

.modal-body b {
  color: black;
}

.modal-body {
  padding: 20px 0;
  border-top: solid 1px #aaaaaa;
  border-bottom: solid 1px #aaaaaa;
  display: flex;
  flex-direction: column;
}
.modal-body a:hover {
  color: #aaaaaa;
}
.modal-footer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.close-modal {
  background-color: #493382;
  box-shadow: 1px 1px 4px #555;
}