@import url("https://fonts.googleapis.com/css?family=Open+Sans:300|Spectral:300,400,700");
body {
  overflow-x: hidden;
  /*
    fontawesome
  */
}
body .fa-linkedin,
body .fa-linkedin-in {
  color: #0E76A8;
}
body .fa-github,
body .fa-github-square {
  color: #2B414D;
}
body .fa-twitter,
body .fa-twitter-square {
  color: #26A6D1;
}
body .fa-facebook-square {
  color: #3b5998;
}
body .fa-youtube {
  color: #cc181e;
}
body .fa-medium {
  color: #66CDAA;
}
body .fab {
  padding: 0 1%;
}

section,
footer {
  padding: 60px 0;
  padding-top: 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Spectral", Times, "Times New Roman", Serif;
}

p,
span,
body {
  font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
  font-weight: 300;
}

h3 {
  text-align: center;
  font-size: 2.5rem;
}

.sections-header {
  font-weight: 700;
  font-size: 2.8rem;
  text-transform: uppercase;
}

.content-sections {
  padding: 13vh 10vw;
}

.team-member-icon {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-size: cover;
}

.team-member-icon-large {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-size: cover;
}

.icon-andrewc {
  background-image: url("../image/Team/AndrewCheung.JPG");
}

.icon-andrewl {
  background-image: url("../image/Team/AndrewLaw.JPG");
}

.icon-brad {
  background-image: url("../image/Team/Brad.JPG");
}

.icon-harrison {
  background-image: url("../image/Team/Harrison.JPG");
}

.icon-ivan {
  background-image: url("../image/Team/Ivan.JPG");
}

.icon-jacob {
  background-image: url("../image/Team/Jacob.JPG");
}

.icon-judith {
  background-image: url("../image/Team/Judith.JPG");
}

.icon-lucas {
  background-image: url("../image/Team/Lucas.JPG");
}

.icon-mangal {
  background-image: url("../image/Team/Mangal.JPG");
}

.icon-parker {
  background-image: url("../images/team/parker.jpeg");
}

.icon-stephen {
  background-image: url("../image/Team/Stephen.JPG");
}

.icon-terence {
  background-image: url("../image/Team/Terence.JPG");
}

.dealing-room-banner-web {
  background-image: url("../image/Our work/Dealing Room/web.jpg");
}

.coin-market-news-banner-web {
  background-image: url("../image/Our work/Coin Market News/web.jpg");
}

.dealing-room-banner-mobile {
  background-image: url("../image/Our work/Dealing Room/mobile.jpg");
}
@media (max-width: 1023px) and (min-width: 480px) {
  .dealing-room-banner-mobile {
    background-image: url("../image/Our work/Dealing Room/mobile-lg.jpg");
  }
}

.coin-market-news-banner-mobile {
  background-image: url("../image/Our work/Coin Market News/mobile.jpg");
}
@media (max-width: 1023px) and (min-width: 480px) {
  .coin-market-news-banner-mobile {
    background-image: url("../image/Our work/Coin Market News/mobile-lg.jpg");
  }
}

.coin-market-news-banner-desc {
  color: #F9F9F9;
}
@media (max-width: 1023px) {
  .coin-market-news-banner-desc {
    color: #555555;
  }
}

nav.navbar {
  position: fixed;
  z-index: 100;
  width: 100vw;
  background-color: aliceblue;
}
nav.navbar .navbar-brand {
  color: #111111;
  transition: 0.6s;
}
nav.navbar .navbar-brand:hover {
  color: #ffd700;
}

nav.transparentNav {
  background-color: rgba(0, 0, 0, 0);
  transition: 0.6s;
}

header {
  height: 100vh;
  width: 100vw;
  background-image: url("../image/Hero section/macantosh.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header .heading-span1 .punchline {
  font-weight: 700;
  font-family: "Spectral", Times, "Times New Roman", Serif;
  text-transform: uppercase;
  color: #111111;
}
@media (max-width: 599px) {
  header .heading-span1 .punchline {
    font-size: 3rem;
  }
}
@media (min-width: 600px) {
  header .heading-span1 .punchline {
    font-size: 4rem;
  }
}
@media (min-width: 900px) {
  header .heading-span1 .punchline {
    font-size: 4.5rem;
  }
}
@media (min-width: 1200px) {
  header .heading-span1 .punchline {
    font-size: 4.8rem;
  }
}
@media (min-width: 1800px) {
  header .heading-span1 .punchline {
    font-size: 6rem;
  }
}
header .heading-span2 {
  font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
  padding: 2% 18%;
  font-size: 1rem;
}
header .heading-span2 span {
  font-weight: 300;
  color: #111111;
  text-align: center;
  letter-spacing: 0.05rem;
  font-size: 1.2 rem;
}
@media (max-width: 599px) {
  header .heading-span2 span {
    font-size: 0.81rem;
  }
}
@media (min-width: 600px) {
  header .heading-span2 span {
    font-size: 1.084rem;
  }
}
@media (min-width: 900px) {
  header .heading-span2 span {
    font-size: 1.22rem;
  }
}
@media (min-width: 1200px) {
  header .heading-span2 span {
    font-size: 1.3rem;
  }
}
@media (min-width: 1800px) {
  header .heading-span2 span {
    font-size: 1.6rem;
  }
}

section#why-cohort-6 {
  background-color: #ffffff;
  color: #111111;
}

section#what-we-do {
  background-color: #f9f9f9;
  color: #111111;
}
section#what-we-do .service-box {
  padding: 20px;
}
section#what-we-do img {
  width: 40%;
  padding: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section#what-we-do h5 {
  font-weight: 700;
  font-size: 1.7rem;
  text-align: center;
}
section#what-we-do p {
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  text-align: center;
}

section#why-clients-love-us {
  background-color: #ffffff;
  color: #111111;
}
section#why-clients-love-us div.container h3 {
  margin-bottom: 3%;
}
section#why-clients-love-us div.container div div.why-clients-love-us-sections {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  padding: 20px;
}
section#why-clients-love-us div.container div div.why-clients-love-us-sections p {
  padding-right: 10%;
}
section#why-clients-love-us div.container div div.why-clients-love-us-sections div .one-thing-box {
  display: flex;
  flex-direction: row;
}
section#why-clients-love-us div.container div div.why-clients-love-us-sections div .one-thing-word {
  padding-left: 5%;
  padding-right: 5%;
}
section#why-clients-love-us div.container div div.why-clients-love-us-sections > div.why-love-us-pic {
  display: flex;
  justify-content: center;
}
section#why-clients-love-us div.container div div.why-clients-love-us-sections > div.why-love-us-pic img {
  width: 80%;
  margin-bottom: 20px;
}
section#why-clients-love-us div.container div div.why-clients-love-us-sections ul {
  padding: 0;
}
section#why-clients-love-us div.container div div.why-clients-love-us-sections ul li {
  list-style: none;
  display: flex;
}
section#why-clients-love-us div.container div div.why-clients-love-us-sections ul li span {
  padding-right: 10px;
}
section#why-clients-love-us div.container div div.why-clients-love-us-sections ul li span img {
  height: 20px;
  width: 20px;
}
@media (min-width: 768px) {
  section#why-clients-love-us div.container div.why-clients-love-us-sections {
    flex-direction: row !important;
    justify-content: space-between;
  }
  section#why-clients-love-us div.container div.why-clients-love-us-sections > div {
    width: 40%;
  }
  section#why-clients-love-us div.container div.why-clients-love-us-sections > div.why-love-us-pic {
    display: block !important;
  }
  section#why-clients-love-us div.container div.why-clients-love-us-sections > div.why-love-us-pic img {
    width: 100% !important;
    margin-bottom: 0;
  }
  section#why-clients-love-us div.container div.why-clients-love-us-right {
    flex-direction: row-reverse !important;
  }
}

section#our-work {
  background-color: #ffffff;
  color: #111111;
}
section#our-work .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#our-work .container h3 {
  text-align: center;
}
section#our-work .container div .our-work-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 2%;
}
section#our-work .container div .our-work-btn div {
  font-family: Open Sans;
  font-style: normal;
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  padding: 0 2%;
}
section#our-work .container div .our-work-btn div hr {
  width: 6vw;
  border-color: #0E387C;
  border-width: 3px;
  margin-top: 0.5rem;
}
section#our-work .container div .banner-box {
  width: 80vw;
  max-width: 1055px;
  height: 75vh;
  max-height: 523px;
  display: block;
  position: relative;
}
section#our-work .container div .banner-box .project-banner {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
section#our-work .container div .banner-box .project-banner-mobile {
  display: none;
}
section#our-work .container div .banner-box .project-desc-web {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding-left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#our-work .container div .banner-box .project-desc-web h4 {
  font-size: 3rem;
  font-weight: 500;
  line-height: normal;
}
section#our-work .container div .banner-box .project-desc-web h4 .mobile-h4-hr {
  width: 0;
}
section#our-work .container div .banner-box .project-desc-web p {
  font-size: 1rem;
  max-width: 40%;
  line-height: normal;
  letter-spacing: 0.05em;
  margin-bottom: 0;
}
section#our-work .container div .banner-box .project-desc-web .project-links img {
  width: 1.5vw;
  margin-right: 1%;
}
section#our-work .container div .banner-box .project-desc-web .project-links .app-store-icon {
  width: 0;
}
section#our-work .container div .banner-box .project-desc-web .project-links .play-store-icon {
  width: 0;
}
section#our-work .container div .hide-banner {
  display: none;
}

@media (max-width: 1023px) {
  section#our-work .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section#our-work .container h3 {
    text-align: center;
  }
  section#our-work .container div .our-work-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 2%;
  }
  section#our-work .container div .our-work-btn div {
    font-family: Open Sans;
    font-style: normal;
    font-size: 1rem;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    padding: 0 2%;
  }
  section#our-work .container div .our-work-btn div hr {
    width: 6vw;
    border-color: #0E387C;
    border-width: 3px;
    margin-top: 0.5rem;
  }
  section#our-work .container div .banner-box {
    width: 80vw;
    max-width: 1055px;
    height: 75vh;
    max-height: calc(523px + 300px);
    display: block;
    position: relative;
  }
  section#our-work .container div .banner-box .project-banner {
    display: none;
  }
  section#our-work .container div .banner-box .project-banner-mobile {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 40vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  section#our-work .container div .banner-box .project-desc-web {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: auto;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  section#our-work .container div .banner-box .project-desc-web h4 {
    font-size: 3rem;
    font-family: Spectral;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    margin-top: 2%;
  }
  section#our-work .container div .banner-box .project-desc-web .mobile-h4-hr {
    width: 18vw;
    border-color: #0E387C;
    border-width: 3px;
    margin-top: 0;
    margin-left: 0;
  }
  section#our-work .container div .banner-box .project-desc-web p {
    width: 40%;
    max-width: 25vw;
    font-family: Open Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: normal;
    color: #172A4E;
    margin-bottom: 0;
  }
  section#our-work .container div .banner-box .project-desc-web .project-links {
    width: 60%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  section#our-work .container div .banner-box .project-desc-web .project-links img {
    width: 3vw;
    margin-right: 1%;
  }
  section#our-work .container div .banner-box .project-desc-web .project-links .app-store-icon {
    width: 8vw;
  }
  section#our-work .container div .banner-box .project-desc-web .project-links .play-store-icon {
    width: 10vw;
  }
  section#our-work .container div .hide-banner {
    display: none;
  }
}
@media (max-width: 768px) {
  section#our-work .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section#our-work .container h3 {
    text-align: center;
  }
  section#our-work .container div .our-work-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 2%;
  }
  section#our-work .container div .our-work-btn div {
    font-family: Open Sans;
    font-style: normal;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    padding: 0 2%;
  }
  section#our-work .container div .our-work-btn div hr {
    width: 12vw;
    border-color: #0E387C;
    border-width: 3px;
    margin-top: 0.5rem;
  }
  section#our-work .container div .banner-box {
    width: 100vw;
    max-width: 100vw;
    height: 60vh;
    max-height: calc(523px + 300px);
    display: block;
    position: relative;
    padding: 0 2% 0 2%;
  }
  section#our-work .container div .banner-box .project-banner {
    display: none;
  }
  section#our-work .container div .banner-box .project-banner-mobile {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 25vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  section#our-work .container div .banner-box .project-desc-web {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: auto;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  section#our-work .container div .banner-box .project-desc-web h4 {
    font-size: 1.5rem;
    font-family: Spectral;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    margin-top: 2%;
  }
  section#our-work .container div .banner-box .project-desc-web h4 .mobile-h4-hr {
    width: 18vw;
    border-color: #0E387C;
    border-width: 3px;
    margin-top: 0;
    margin-left: 0;
  }
  section#our-work .container div .banner-box .project-desc-web p {
    width: 100%;
    max-width: 60%;
    font-family: Open Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: normal;
    color: #172A4E;
    margin-bottom: 0;
  }
  section#our-work .container div .banner-box .project-desc-web .project-links {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10%;
  }
  section#our-work .container div .banner-box .project-desc-web .project-links img {
    width: 4vw;
    margin-right: 1%;
  }
  section#our-work .container div .banner-box .project-desc-web .project-links .app-store-icon {
    width: 12vw;
  }
  section#our-work .container div .banner-box .project-desc-web .project-links .play-store-icon {
    width: 14vw;
  }
  section#our-work .container div .hide-banner {
    display: none;
  }
}
section#our-team {
  background-color: #f9f9f9;
  color: #111111;
  padding-top: 5%;
}
section#our-team .grey-bg {
  background: #e7e7e7;
}
section#our-team ul.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* max-width: 900px; */
  margin: 0 auto;
  padding: 0;
}
section#our-team li.team-member {
  width: 100%;
  padding: 0;
  margin: 10px 0px 3% 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
section#our-team li.team-member .member-container {
  width: 100%;
  display: flex;
  padding: 0 0 0 5px;
}
section#our-team .team-members a,
section#our-team .team-members a:visited,
section#our-team .team-members a:active {
  justify-self: center;
  text-decoration: none;
  outline: none;
}
section#our-team .team-member-overlay {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffd700;
  opacity: 0;
  color: black;
  transition: opacity 0.6s;
  cursor: pointer;
}
section#our-team .team-members .team-member-a:hover .team-member-overlay {
  opacity: 0.76;
}
section#our-team .team-member-overlay p {
  margin: 0;
}
section#our-team .team-member-des {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
}
section#our-team .team-member-des .team-member-name {
  font-weight: 700;
  font-size: 10px;
}
section#our-team .team-member-des .social-links {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
section#our-team .team-member-des .social-links a img.team-social-icons {
  width: 60%;
}
section#our-team li.team-member .team-member-name {
  font-size: 20px;
}

section#testimonials {
  background-color: #ffd700;
  color: #111111;
}

section#contact {
  color: #111111;
  width: 100vw;
  height: 100vh;
  background-image: url("../image/Contact us/contact.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20% 0 -20%;
}
section#contact p,
section#contact a {
  font-size: 1rem;
}
section#contact .container .contact-header {
  font-weight: 700;
  text-align: left;
  padding-left: 0;
  margin-bottom: 0;
}
section#contact .container .contain-content {
  display: flex;
  justify-content: flex-start;
}
section#contact .container .contain-content .contact-main {
  padding-right: 6%;
}
section#contact .container .contain-content .contact-main .contact-text {
  letter-spacing: 0.05rem;
}
section#contact .container .contain-content .contact-main h5,
section#contact .container .contain-content div .contact-add h5 {
  opacity: 0;
  margin-bottom: 2px;
}
section#contact .container .contain-content div {
  font-size: 0.75rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
section#contact .container .contain-content div .contact-social h5 {
  font-size: 1.6rem;
  font-weight: 700;
}
section#contact .container .contain-content div .contact-social div {
  flex-direction: row;
  height: 2vh;
}
section#contact .container .contain-content div .contact-icons {
  width: 30px;
  padding-right: 10px;
}
section#contact .container .contain-content .contact-main-2 {
  display: flex;
  flex-direction: column;
}
section#contact .container .contain-content .contact-main-2 div {
  padding-top: 0;
  padding-right: 15px;
}
section#contact .contact-mobile-bottom {
  display: none;
}

@media (min-width: 1024px) {
  .contain-content {
    flex-direction: row;
  }
  .contain-content .contact-main {
    width: 45%;
  }
  .contain-content .contact-main-2 {
    width: 50%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .contain-content .contact-main-2 div {
    padding-right: 13%;
  }
}
@media (max-width: 1023px) {
  section#contact div .contain-content {
    flex-direction: column;
  }
  section#contact div .contain-content .contact-main .contact-text {
    width: 40vw;
  }
  section#contact div .contain-content .contact-main div .contact-add > p {
    font-size: 0.9rem;
  }
}
@media (max-width: 767px) {
  section#contact {
    background-image: none;
    background-color: white;
    padding-bottom: 0;
  }
  section#contact .container {
    padding-bottom: 10%;
  }
  section#contact .container .contact-header {
    text-align: center;
  }
  section#contact .container .contain-content {
    text-align: center;
  }
  section#contact .container .contain-content .contact-main {
    padding-right: 0;
  }
  section#contact .container .contain-content .contact-main .contact-text {
    width: 60vw;
    margin: 5% auto 15% auto;
    padding-left: 0;
    padding-right: 0;
  }
  section#contact .container .contain-content .contact-main-2 .contact-add {
    padding-right: 0;
    font-size: 1.5rem;
  }
  section#contact .container .contain-content .contact-main-2 .contact-social {
    display: none;
  }
  section#contact .contact-mobile-bottom {
    width: 100vw;
    height: 50vh;
    background-image: url("../image/Contact us/contact-mobile.png");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section#contact .contact-mobile-bottom .contact-social-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section#contact .contact-mobile-bottom .contact-social-mobile h5 {
    font-size: 1.5rem;
  }
  section#contact .contact-mobile-bottom .contact-social-mobile div {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  section#contact .contact-mobile-bottom .contact-social-mobile div img {
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 7px;
  }
}
@media (max-width: 400px) {
  section#contact .contain-content .contact-main-2 .contact-add > a > p {
    font-size: 0.9rem;
  }
}
section#team-member-modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  outline: 0;
}
section#team-member-modal .modal-content {
  border-radius: 15px;
}
section#team-member-modal .modal-body {
  display: flex;
  flex-direction: column;
}
section#team-member-modal .team-member-icon {
  align-self: center;
  margin-bottom: 20px;
}
section#team-member-modal .link-holders i {
  width: 25px;
  text-align: left;
  padding: 0;
}

main.modal-show {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  transition: 0.2s;
}

/*# sourceMappingURL=styles.css.map */
