//Globals go in here

$font-stack : Helvetica,
sans-serif;
$primary-color: #172a4e;
$secondary-color: #ffd700;
$white: #ffffff;
$grey: #f9f9f9;
$black: #111111;

@import 'nav';
@import 'sections';

section, footer {
    padding: 60px 0;
}
