//Globlas import
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Spectral:300,400,700');

//Globals go in here
//Fonts
$font-stack: Helvetica, sans-serif;
$headers-and-stress: "Spectral", Times, "Times New Roman", Serif;
$bodys-and-content: "Open Sans", Helvetica, Arial, Sans-Serif;

//Colors
$primary-color: #172a4e;
$secondary-color: #ffd700;
$white: #ffffff;
$grey: #f9f9f9;
$black: #111111;

//sdsds
//templates
@mixin light {
    font-weight: 300;
}

@mixin regular {
    font-weight: 400;
}

@mixin bold {
    font-weight: 700;
}

body {
    overflow-x: hidden;
    /*
      fontawesome
    */
    .fa-linkedin,
    .fa-linkedin-in {
        color: #0E76A8;
    }
    .fa-github,
    .fa-github-square {
        color: #2B414D;
    }
    .fa-twitter,
    .fa-twitter-square {
        color: #26A6D1;
    }
    .fa-facebook-square {
        color: #3b5998;
    }
    .fa-youtube {
        color: #cc181e;
    }
    .fa-medium {
        color: #66CDAA;
    }
    .fab {
        padding: 0 1%;
    }
}

section,
footer {
    padding: 60px 0;
    padding-top: 5%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headers-and-stress;
}

p, span, body {
    font-family: $bodys-and-content;
    font-weight: 300;
}

h3 {
    text-align: center;
    font-size: 2.5rem;
}

.team-member-icon {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
}

.team-member-icon-large {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-size: cover;
}

.icon-andrewc {
    background-image: url("../image/Team/AndrewCheung.JPG")
}

.icon-andrewl {
    background-image: url("../image/Team/AndrewLaw.JPG")
}

.icon-brad {
    background-image: url("../image/Team/Brad.JPG")
}

.icon-harrison {
    background-image: url("../image/Team/Harrison.JPG")
}

.icon-ivan {
    background-image: url("../image/Team/Ivan.JPG")
}

.icon-jacob {
    background-image: url("../image/Team/Jacob.JPG")
}

.icon-judith {
    background-image: url("../image/Team/Judith.JPG")
}

.icon-lucas {
    background-image: url("../image/Team/Lucas.JPG")
}

.icon-mangal {
    background-image: url("../image/Team/Mangal.JPG")
}

.icon-parker {
    background-image: url("../images/team/parker.jpeg")
}

.icon-stephen {
    background-image: url("../image/Team/Stephen.JPG")
}

.icon-terence {
    background-image: url("../image/Team/Terence.JPG")
}

@import 'scss/nav';
@import 'scss/sections';
@import 'scss/modal';